@media(max-width: 400px) {
    .footer_links {
        flex-direction: column;
    }

    .logo_div,
    .services_div,
    .info_div {
        margin: auto auto 40px auto;
    }
}


@media(min-width: 400px) and (max-width: 600px) {

    .logo_div,
    .services_div {
        margin: 0 auto 40px auto;
    }
}