.header_links a:hover {
    color: #16a34a;
}

.links_list a:hover {
    background-color: #16a34a;
    color: white;
}

.links_list {
    top: 96px;
    width: 190px;
    box-shadow: -4px 2px 22px #babcbd;
}

.list_show {
    right: 0;
}

.list_hide {
    right: -100%;
}

.header_shadow {
    box-shadow: -4px 2px 22px #babcbd;
}

@media(max-width: 400px) {
    .header_links {
        display: none;
    }

    .links_list {
        width: 190px;
    }
}


@media(min-width: 400px) and (max-width: 600px) {
    .header_links {
        display: none;
    }

    .links_list {
        width: 220px;
    }
}



@media(min-width: 600px) and (max-width: 800px) {
    .header_links {
        display: none;
    }

    .links_list {
        width: 250px;
    }
}




@media (min-width: 801px) {
    .links_list {
        display: none;
    }

    .list_icon {
        display: none;
    }
}